# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Builds
node_modules
.next

# IDE files
.idea
.vscode
*.iml
*.ipr
*.iws

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env
.env.*

