# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Gradle caches
.gradle
build

# Local gradle wrapper cache (optional)
gradle-app.setting

# IDE files
.idea
.vscode
*.iml
*.ipr
*.iws

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env
.env.*
